<!DOCTYPE html>

<html>

<head>
  <title>Request Header Parser</title>
  <link rel="shortcut icon"
    href="https://cdn.glitch.com/b8c94e53-9d8a-4cd7-9fa1-493e09dfd0ca%2Ffullsizeoutput_e.jpeg?1553162627767"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1>
      Request Header Parser Microservice
    </h1>
  </header>

  <main>
    <h3>User Story: </h3>
    <p>The API endpoint is <code>GET [project_url]/api/whoami</code></p>

    <p>get the IP address, preferred languages (from header <code>Accept-Language</code>) and system infos (from header
      <code>User-Agent</code>) for my device.</p>


    <h3>Example Usage:</h3>
    <ul>
      <li><a href="api/whoami">[project url]/api/whoami</a></li>
    </ul>

    <h3>Example Output:</h3>
    <p>
      <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
    </p>

  </main>

  <footer>
    <p>
      Made with <a href="https://glitch.com">Glitch</a>!
    </p>
    <p>
      <a href="http://www.freecodecamp.com">freeCodeCamp</a> | <a href="http://www.freecodecamp.com/top">Click here to
        view author's profile</a>
    </p>
  </footer>
</body>


</html>